body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.spline-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    display: flex;
    align-items: flex-end;
}

.spline-container iframe {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}